@CHARSET "UTF-8";

.bgimg {
		    background-image: url('http://i.stack.imgur.com/q02th.jpg');
		    position: absolute;
       		top: 40px; /* Header Height */
       		left:0px;
       		width: 100vw;
       		height: 100vh;
		}
